.DS_Store
node_modules
/build
.svelte-kit
.vercel
/package
/apps/projects
.env
.env.*
!.env.example

svelte.config.js
postcss.config.cjs
vite.config.js

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
